# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
apify_storage
crawlee_storage
storage
.DS_Store

!package.json
!package-lock.json
!tsconfig.json

# any output from the crawler
*.json
.env
pnpm-lock.yaml
